@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>

    <ul style="text-align: left">
        <li><strong>Database Connection string</strong>: @ViewBag.ConnectionString</li>
        <li><strong>Blob connection string</strong>: @ViewBag.BlobConnectionString</li>
        <li><strong>JWT Sign Guid</strong>: @ViewBag.JwtSignGuid</li>
        <li><strong>Email Service API KEY</strong>: @ViewBag.EmailServiceApiKey</li>
        <li><strong>Message</strong>: @ViewBag.Message</li>
        <li><strong>Deployed from CI Agent:</strong> @ViewBag.DeployedFromCiAgent</li>
        <li><strong>Version:</strong> @ViewBag.Version</li>
    </ul>
</div>
